.homeimage {
    background-image: url('https://thumbs.gfycat.com/HugeVengefulAmericanbittern-size_restricted.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    }

.second {
    border: 12px solid #151416;
border-radius: 41px;
-webkit-box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.86); 
box-shadow: 0px 0px 12px 12px rgba(0,0,0,0.86);
position: absolute;
top: 35%;
left: 25%;
right: 25%;
background-image: url('https://thumbs.gfycat.com/HugeVengefulAmericanbittern-size_restricted.gif');
}

.third {
    font-size: 90px;
    color: white;
    text-align: flex;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Montserrat";
    line-height: 50px;
    color: rgb(255, 255, 255);
background-color: rgba(0,0,0,0.86);
text-shadow: rgb(122, 122, 122) 4px 3px 0px;
}
