.App {
  text-align: center;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Menu-bar {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
}

.Table-element {
  width: 300px;
  text-align: left;
}

.Filler {
  color: lightgrey;
}

.Check-box {
  width:30px;
  height: 16px;
}

.Title {
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.Table-title {
  display: flex;
  align-items: baseline;
  column-gap: 180px;
  width: 600px;
  border-bottom-style: solid;
  border-width: 2px;
}

.Filter-box {
  display: flex;
  column-gap: 20px;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
}

.Filter-title {
  border-bottom: solid;
  border-width: 2px;
}

.Primary {
  height: 100vh;
  background: lightgrey;  
}
