.App {
  text-align: center;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Menu-bar {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
  align-items: right;
}

.Table-element {
  width: 300px;
  text-align: left;
  font-family: "Arial Black", Gadget, sans-serif;
}

.Filler {
  color: rgba(51, 170, 51, .1);
}

.Check-box {
  width:30px;
  height: 16px;
}

.Title {
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.Table-title {
  display: flex;
  align-items: baseline;
  column-gap: 180px;
  width: 600px;
  border-bottom-style: solid;
  border-width: 2px;
}

.Park-list {
  background: lightgreen;
  padding-left: 30px;
  border-radius: 30px;
  border-style: solid;
  background: rgba(144, 238, 144, .7);
  box-shadow: 10px 0px 10px;
}

.Filter-box {
  display: flex;
  column-gap: 20px;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  border-radius: 30px;
  padding-bottom: 10px;
  background: rgba(51, 170, 51, .8);
  box-shadow: 10px 0px 10px;
}

.Filter-title {
  border-bottom: solid;
  border-width: 2px;
}

.Primary {
  height: 100vh;
  background: lightgrey;  
}
