.App {
  text-align: center;
}

.Menu-bar {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
}

.Table-element {
  width: 300px;
  text-align: left;
}

.Title {
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.Table-title {
  display: flex;
  align-items: baseline;
  column-gap: 180px;
  width: 600px;
  text-align: left;
  display: flex;
  align-items: baseline;
  
  text-align: left;
  border-bottom-style: dashed;
}

.Primary {
  height: 100vh;
  background: lightgrey;
  
}
